@model GeocodeMvc.Models.TransferViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Find</h1>

<h4>Transfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Find">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source.Name" class="form-control" id="InputSource" />
                <span asp-validation-for="Source.Name" class="text-danger"></span>
            </div>
            <input asp-for="Source.PlaceId" id="InputSourcePlaceId" hidden />
            <input asp-for="Source.Longitude" id="InputSourceLongitude" hidden />
            <input asp-for="Source.Latitude" id="InputSourceLatitude" hidden />
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination.Name" class="form-control" id="InputDestination" />
                <span asp-validation-for="Destination.Name" class="text-danger"></span>
            </div>
            <input asp-for="Destination.PlaceId" id="InputDestinationPlaceId" hidden />
            <input asp-for="Destination.Longitude" id="InputDestinationLongitude" hidden />
            <input asp-for="Destination.Latitude" id="InputDestinationLatitude" hidden />

            <div class="form-group">
                <input type="submit" value="Find" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}